.feature-item {
  position: relative;
  padding-bottom: 2.5rem;

  @mixin atSmall {
    padding-left: 94px;
  }
  &__icon {
    margin: 0 auto;
    display: block;

    @mixin atSmall {
      position: absolute;
      left: 0;
    }
  }
  &__title {
    font-weight: 300;
    margin-top: 0.7em;
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    text-align: center;

    @mixin atSmall {
    font-size: 1.875rem;
    margin-top: 1em;

    text-align-last: left;

    }
  }
}
