.site-header {
  position: absolute;
  width: 100%;
  z-index: 10;
  padding: 10px 0;
  transition: background-color 0.3s ease-out;

  &--is-expanded {
    background-color: rgba($mainBlue, 0.55);
  }

  @mixin atMedium {
    background-color: rgba($mainBlue, 0.3);
    position: fixed;
    &--dark {
      background-color: rgba(23, 51, 72, 0.8);
    }
  }

  &__btn-container {
    @mixin atMedium {
      float: right;
    }
  }

  &__logo {
    top: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: transform .3s ease-out;
    background-color: $mainBlue;
    padding: 13px 29px;

    @mixin atMedium {
      left: auto;
      transform: none;
      padding: 25px 36px;

      .site-header--dark & {
        transform: scale(0.56) translateY(-35px);
      }
    }
  }

  &__menu-content {
    opacity: 0;
    transform: scale(1.2);
    padding-top: 90px;
    text-align: center;
    transition: all 0.3s ease-out;
    position: relative;
    z-index: -10;

    @mixin atMedium {
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      transform: scale(1);
    }

    &--is-visible {
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }
  }

  &__menu-icon {
    position: absolute;
    width: 20px;
    height: 19px;
    right: 10px;
    top: 10px;
    z-index: 2;

    &::before,
    &-middle,
    &::after {
      position: absolute;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #fff;
    }

    &::before,
    &::after {
      transition: transform 0.3s ease-in-out;
      display: block;
      content: "";
    }

    &::before {
      transform-origin: 0 50%;
      top: 0;
    }

    &-middle {
      top: 8px;
      transform-origin: 0 0;
      transition: all 0.3s ease-in-out;
    }

    &::after {
      transform-origin: 0 100%;

      top: 16px;
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: rotate(45deg) scaleX(1.2);
    }
    &::after {
      transform: rotate(-45deg) scaleX(1.2);
    }
    & > div {
      opacity: 0;
      transform: scaleX(0);
    }
  }
}
